a {
    text-decoration: none;
}

button {
    padding: 0%;
    background: none;
    border: none;
}

* {
    margin: 0%;
}

ul {
    list-style: none;
}

.black-button {
    background: #030305;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    width: 100%;
    display: block;
    padding: 15px 0px;
}

.title {
    color: #030305;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-header__container {
    display: flex;
    gap: 244px;
    padding: 25px 0%;
    align-items: center;
}

.main-header__list {
    display: flex;
    gap: 115px;
}

.container {
    width: 1200px;
    margin: 0% auto;
}


.main-header__link {
    color: #030305;

    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-header {
    padding: 25px 0px;
    border-bottom: 1px solid #E5E5E5;
}

.first-screen__title {
    color: #030305;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 40px;
}

.first-screen__text {
    color: #030305;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    max-width: 502px;
    margin-bottom: 40px;
}

.first-screen__link {
    max-width: 334px;
}

.first-screen {
    background: url(./img/background.png) no-repeat center center;
    padding-top: 105px;
    padding-bottom: 154px;
}

.products__title {
    margin-bottom: 40px;
}

.products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 24px;
}

.product__descriptions {
    display: flex;
    gap: 25px;
}

.produt__img {
    margin-bottom: 15px;
}

.product__title {
    margin-bottom: 17px;
}

.product__descriptions {
    margin-bottom: 13px;
}

.product__title {
    color: #030305;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.48px;
}

.produt__img {
    margin-bottom: 10px;
}

.description {
    text-align: center;
}

.communication__title {
    margin-top: 100px;
}

.communication__text {
    margin-top: 20px;
    margin-bottom: 60px;
}

.communication__form {

    display: flex;
    width: 344px;
    flex-direction: column;
    gap: 10px;
}

.communication__input {
    padding: 22px 18px;
    border: 1px solid #5d5d5f;
    color: #5d5d5f;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.communication__img {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    right: -180px;
}

.communication {
    position: relative;
    padding-bottom: 121px;
}

.main-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-footer {
    border-top: 1px solid #E5E5E5;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-footer__text {
    color:#030305;
    text-align: right;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


*{
    scroll-behavior: smooth;
}